<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon-256x256.png">
    <link rel="stylesheet" href="/css/commit-mono/index.css">
    <link rel="stylesheet" href="/css/custom.css">
    <meta name="theme-color" content="#F4F4F4">
    <!-- SEO basics -->
    <meta name="description" content="{{ excerpt }}">
    <meta name="keywords" content="Saved, Windows 10, laptops, rescue, Zorin, Linux, cyberpunk, Omarchy, scale, automation, redistribution, digital equity">
    <meta name="author" content="Ian Allan">
    <!-- Open Graph (Facebook, LinkedIn, etc.) -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ excerpt }}">
    <meta property="og:image" content="https://www.saved.co.nz/images/saved-social-share.jpg">
    <meta property="og:url" content="https://www.saved.co.nz">
    <meta property="og:type" content="website">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ excerpt }}">
    <meta name="twitter:image" content="https://www.saved.co.nz/images/ianallan-social-share.jpg">

</head>

<body class="{{ page.fileSlug }}">
    {{ content | safe }}

    {% if page.fileSlug == "prop" %}
        <script src="/js/prop.js" defer></script>
    {% else %}
        <script src="/js/custom.js" defer></script>
    {% endif %}
</body>

</html>