---
layout: base.njk
title: "Saved: IT can be saved, and WE can be saved."
excerpt: "Saved is a new venture in Phase 1 of an ambitious vision. Phase 1: collect, process, upgrade, reimagine, and redistribute Windows 10 laptops, with warranties."
---

<main>
    <section id="saved-hero">
        <div class="saved-vision">
            <h1>Believe</h1>
            <h2><em>IT</em> can be saved, and <em>WE</em> can be saved.</h2>
            <p><a href="#linkroll">Let's go</a></p>
        </div>
        <div class="saved-laptop">

            <svg width="724" height="418" viewBox="-1 -1 726 420" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M720.452 385.951H689.451V21.9068C689.451 10.1127 679.434 0.5 667.144 0.5H56.8614C44.561 0.5 34.5587 10.1127 34.5587 21.9068V385.951H3.54016C1.86146 385.951 0.5 387.258 0.5 388.871V391.807C0.5 398.613 4.30958 405.152 11.1268 410.22C17.2671 414.779 25.1385 417.498 32.2705 417.5H691.725C698.869 417.498 706.738 414.779 712.883 410.22C719.703 405.152 723.5 398.613 723.5 391.807V388.871C723.5 387.258 722.151 385.951 720.452 385.951Z" fill="white" stroke="#CCCCCC" stroke-width="0.999999"/>
                <path d="M718.5 392.5C717.501 396.555 713.562 402.795 709.49 405.691C704.518 409.253 697.157 411.505 691.386 411.5H33.6215C27.8652 411.503 20.5068 409.253 15.5174 405.691C11.455 402.795 7.50195 396.555 6.5 392.5H718.5Z" fill="#FAFAFA" stroke="#CCCCCC" stroke-width="0.999999"/>
                <image 
                    id="screen-a"
                    href="/images/bluefin-windows-10-disaster.png"
                    x="68"
                    y="36"
                    width="588"
                    opacity="1"                    
                />
                <image 
                    id="screen-b"
                    href="/images/bluefin-windows-10-disaster-workspace.png"
                    x="68"
                    y="36"
                    width="588"
                    opacity="0"                    
                />
                <path d="M70.685 365.188H653.31C655.009 365.186 656.359 363.878 656.359 362.266V38.4878C656.359 36.856 655.009 35.5602 653.31 35.5602H70.685C69.0055 35.5602 67.6436 36.856 67.6411 38.4878V362.266C67.6436 363.88 69.0055 365.186 70.685 365.188ZM56.7271 6.5H667.28C671.754 6.5 675.803 8.25176 678.752 11.0594C681.676 13.891 683.5 17.7785 683.5 22.074V386.5H40.5V22.074C40.5 17.7785 42.3168 13.891 45.2584 11.0594C48.1974 8.25176 52.2511 6.5 56.7271 6.5Z" fill="#FAFAFA" stroke="#CCCCCC"/>
            </svg>
        </div>
    </section>

    <section id="reflect">


    </section>

    <section id="linkroll">
        <div class="featured-link">
            <h2>The situation</h2>
            <h3><a href="https://www.404media.co/the-end-of-windows-10-support-is-an-e-waste-disaster-in-the-making/" target="_blank">The end of Windows 10 support is an e-waste disaster in the making</a></h3>
            <p class="subtitle">In an example of <em>egregious planned obsolescence</em>, as many as 400 million computers will soon hit the waste stream.</p>
            <p><strong>If we don't <em>believe</em> in an alternative, we will miss the opportunity to <em>save</em> millions of good computers for communities and businesses</strong>.</p>
            <p class="signoff">These computers can be <span class="saved">saved</span>.</p>
        </div>
        <div class="link-roll">
            <h2>Link-roll (↗)</h2>
            <ul>
                <li class="file"><a href="https://ianallannz.github.io/blog/it-can-be-saved-we-can-be-saved/" target="_blank">Introducing Saved | Cross-post from Ian Allan</a></li>
                <li class="video"><a href="https://www.youtube.com/watch?v=zKjo8Oc2qLk" target="_blank">The Windows 11 Crisis</a></li>
                <li class="file"><a href="https://www.linuxjournal.com/content/linux-distros-designed-former-windows-users-are-picking-steam" target="_blank">Linux Distros Designed for Former Windows Users Are Picking Up Steam</a></li>
                <li class="file"><a href="https://www.xda-developers.com/universal-blue-future-linux-desktops-most-people-you-should-try-it-too/" target="_blank">Universal Blue is the future of Linux desktops for most people, and you should try it too</a></li>
                <li class="video"><a href="https://www.youtube.com/watch?v=P3VDWpLg844" target="_blank">Zorin OS 18 - Replace Windows With This</a></li>
                <li class="video"><a href="https://www.youtube.com/watch?v=GDJOTEhJ4go" target="_blank">Something Big Is Happening With Linux</a></li>
            </ul>
            <ul class="bigpicture">
                <li class="video"><a href="https://www.youtube.com/watch?v=d2e-c9SF5nE" target="_blank">Cory Doctorow - Rescuing the Internet From "Enshittification" | The Daily Show</a></li>
                <li class="video"><a href="https://www.youtube.com/watch?v=Yepnhe1T-9U" target="_blank">We Didn't Ask for This Internet | The Ezra Klein Show</a></li>
                <li class="file"><a href="https://www.businessinsider.com/alexis-ohanian-much-of-the-internet-is-now-dead-2025-10" target="_blank">Reddit cofounder Alexis Ohanian says 'much of the internet is now dead'</a></li>
                <li class="file"><a href="https://www.authoritarian-stack.info/" target="_blank">The Authoritarian Stack</a></li>
                <li class="video"><a href="https://www.youtube.com/watch?v=zQThHCB_aec" target="_blank">We have 900 days left | Emad Mostaque</a></li>
                <li class="file"><a href="https://www.tommydixon.ca/p/the-end-of-our-extremely-online-era" target="_blank">The end of our extremely online era</a></li>
                <li class="file"><a href="https://www.404media.co/a16z-backed-startup-sells-thousands-of-synthetic-influencers-to-manipulate-social-media-as-a-service/?ref=daily-stories-newsletter" target="_blank">a16z-Backed Startup Sells Thousands of "Synthetic Influencers" to Manipulate Social Media as a Service</a></li>
                <li class="file"><a href="https://www.jpmorgan.com/insights/global-research/artificial-intelligence/ai-impact-job-growth" target="_blank">Is AI already impacting job growth?</a></li>
                <li class="file"><a href="https://www.businessinsider.com/ai-impact-economy-gdp-jobless-growth-productivity-2025-10" target="_blank">Goldman Sachs warns of 'jobless growth' in the US as AI fuels output but not jobs</a></li>                
            </ul>
        </div>
        
    </section>
    <section id="theproposal">
        <div class="theproposal-wrapper">
            <h2>The answer</h2>
            <div class="logo-container">
                <div class="logo-left">
                    <img src="images/saved-logo-left.png">
                </div>
                <div class="logo-right">
                    <div class="bg"></div>
                    <img src="images/saved-logo-right-inv.png">
                </div>
            </div>
            <div class="blurb">
                <h2>A new venture entering Phase 1 of an ambitious vision.</h2>
                <p><strong>Phase 1:</strong> collect, process, upgrade, <em>reimagine</em>, and redistribute ex-Windows 10 laptops at scale — with warranties.</p>
                <p><a href="/prop">Read the proposal</a></p>
            </div>
        </div>
    </section>
    <section id="believe">
        <div class="form-container">
            <h2>Believe</h2>
            <p class="subtitle">Something to add? <strong>We can make it happen.</strong></p>
            <p>The proposal is licensed for you to pick it up and run with it! </p>
            <form target="_blank" action="https://formsubmit.co/ian.allan.nz@gmail.com" method="POST">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" name="name" class="form-control" placeholder="Name" required>
                        </div>
                        <div class="col">
                            <input type="email" name="email" class="form-control" placeholder="Email address" required>
                        </div>
                    </div>
                </div>
                <div class="form-full">
                    <textarea placeholder="Your message" class="form-control" name="message" rows="10" required></textarea>
                </div>
                <input type="hidden" name="_subject" value="Message received through saved.co.nz">
                <input type="hidden" name="_next" value="https://saved.co.nz/thanks/">
                <button type="submit">Get in touch</button>
            </form>
        </div>
    </section>
</main>
<footer>
        <div class="copyright">
            <p>© 2025 <a href="https://ianallannz.github.io">Ian Allan</a>. License: CC BY-SA 4.0.</<p>
        </div>
</footer>