---
layout: base.njk
title: Thanks
---

<main>
    <section id="thanks">
    <div class="thanks-wrap">
        <h2>Thanks!</h2>

        <p>Thanks for believing!</p>

        <p>I will get back to you personally as soon as possible.</p>
        <p>&nbsp;</p>

        <p><strong>Ian Allan</strong><br>
        <em>Venture Designer</em><br>
        <em>Ethical Technologist</em><br>
        East Coast, New Zealand</p>
        <p>&nbsp;</p>
        <p><strong>You can close this tab now.</strong></p>
    </div>
    </section>
</main>